#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    position: relative;
    right: 0;
    left: 0;
    margin-top: 68px;
    transition: margin-left 0.28s;
    margin-left: 236px;
  } // 侧边栏
  .sidebar-container {
    width: 236px !important;
    height: 100%;
    position: fixed;
    top: 68px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #ffffff;
    //float: left;
    //padding-top: 80px;
    //padding-bottom: 10px;
    transition: width 0.28s;
    font-size: 0px;
    overflow: hidden;
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      height: calc(100% + 15px);
      .el-scrollbar__view {
        padding-top:16px;
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      width: 100%;
      display: inline-block;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      width: 100% !important;
      height: 100%;
      border: none;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px!important;
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px!important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
      /*span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        opacity: 0;
        display: inline-block;
      }
      &:hover {
        span {
          display: block;
          border-radius: 3px;
          z-index: 1002;
          width: 140px;
          height: 56px;
          visibility: visible;
          position: absolute;
          right: -145px;
          text-align: left;
          text-indent: 20px;
          top: 0px;
          background-color: #f6f6f6 !important;
          opacity: 1;
        }
      }*/
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px!important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
      /*.nest-menu {
        .el-submenu__icon-arrow {
          display: block!important;
        }
        span {
          display: inline-block!important;
        }
      }*/
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 236px!important;
    //background-color: $subMenuBg!important;
    &:hover {
      background-color: #f6f6f6 !important;
      //background-color: $menuHover!important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu{
    min-width: 236px!important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu .el-menu-item.is-active{
  border-left: #ee7800 4px solid;
  background: #f6f6f6 !important;
}
.el-menu-item:last-child ,.el-submenu {
  border-left: 4px solid transparent;
}
.el-menu .el-submenu__icon-arrow {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  color: #000000;
  font-size: 13px;
  font-weight: bolder;
}
.el-menu .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  color: #ee7800;
}
.el-menu .el-menu-item.font16.is-active {
  border-left: 4px solid transparent;
}
//.el-submenu .el-menu-item
